.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 487px;
  max-width: 1000px;
  max-height: 487px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.875rem;
  padding: 0.625rem;
}

.main {
  display: flex;
  flex-direction: row;
  column-gap: 1.875rem;
  width: 100%;
}

@media (max-width: $lg) {
  .container {
    top: 0;
    padding: 1.5rem;
    transform: none;
    left: 0;
    height: max-content;
    max-height: max-content;
  }
  .main {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
