$neutral950: #0a0a0a;
$neutral500: #737373;
$neutral300: #d4d4d4;
$neutral200: #e5e5e5;
$neutral100: #f5f5f5;
$neutral50: #fafafa;
$green200: #b9f8cf;
$green700: #008236;
$green50: #f0fdf4;
$red700: #c10007;
$red50: #fef2f2;
$red200: #ffc9c9;
$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bedbff;
$blue400: #51a2ff;
$blue700: #1447e6;
$blue50: #eff6ff;
