.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.network {
  display: flex;
  column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  max-width: 70px;
  font-weight: 600;
  font-size: 0.75rem;
}

.online {
  color: $green700;
  background-color: $green50;
  border: 1px solid $green200;
}

.offline {
  color: $red700;
  background-color: $red50;
  border: 1px solid $red200;
}

.date {
  font-size: 0.75rem;
  color: $neutral500;
}

.refresh {
  border: 1px solid $blue200;
  background-color: $blue50;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  &-text {
    color: $blue700;
    font-size: 0.75rem;
    font-weight: 600;
  }
  &-icon {
    width: 12px;
    height: 12px;
  }
}
